#navigation {
	border-top: 5px solid #f89520;
}

a,.tp-caption a.btn:hover {
	color: #f89520;
}
.top-nav-collapse {
	background: #f89520;
}

.header-text h2 span {
    background-color: #f89520;
}
.text-white {
	color: #fff;
}
.text-orange {
	margin-bottom: 0;
}
.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #f89520;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #f89520;
}

.widget-avatar .avatar:hover {
    border: 5px solid #f89520;
}

.bg-skin {
	background: #f89520;
}

.highlight-color {
	background-color: #f89520;
}

form#contact-form input:focus,
form#contact-form select:focus,
form#contact-form textarea:focus {
	border-color: #f89520;
}
form.search-form input:focus {
	border-color: #f89520;
}

/* footer */
ul.footer-menu li a:hover {
	color: #f89520;
}

footer .copyright a:hover {
	color: #fff;
}

.btn-skin {
  color: #fff;
  background-color: #f89520;
  border-color: #f89520;
}
